@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aquire';
  src: url('./assets/Aquire-BW0ox.otf');
}

@font-face {
  font-family: 'Quantum';
  src: url('./assets/Quantum-eZOXg.ttf');
}
@font-face {
  font-family: 'Azonix';
  src: url('./assets/Azonix-1VB0.otf');
}

:root {
  font-family: 'Oxygen', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0 10px;
}